body , h1 , h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

button {
    border-style: none;
}

.container {
    display: grid;
    grid-template-columns: 420px;
    grid-template-rows: 420px;
    justify-content: center;
}

#game-board {
    grid-column: 1 / -1;
    grid-row: 1 / -1;

    display: grid;
    grid-template-rows: repeat(3 , 1fr);
    grid-template-columns: repeat(3,1fr);
}

.cell {
    border-color: black;
    border-style: solid;
}

.img {
    height: calc(400px/3.2);
    width: calc(400px/3.2);
}